/* RSS block styling */


/*--- Default and small screens ---*/

/* Additional styling for RSS feeds */
.wp-block-rss li.wp-block-rss__item {
	margin-left:0;
	padding:1em;
	border-radius:10px;
}

.wp-block-rss li.wp-block-rss__item:nth-child(odd) {
	background-color:#ddd;
}
