/**
 * Summary: css file to implement custom color scheme 1
 */


/* Default and small screens */

/* Set background-color for social media menu icons */
.social-icons a {
	background-color: #006767 !important;
}


/* 1,000+ pixels */

@media screen and (min-width: 1000px) {

	/* Set background color of navigation bar */
	div.header-navigation-wrapper {
	    background-color: #006767;
	}

	/* Set background-color of navigation bar skew detail */
	div.header-navigation-wrapper:before {
	    background-color:#006767;
	}

	/* Set link hover underline color for top level of main navigation bar */
	ul.primary-menu > li > a:hover::after {
	    background-color: #febe10;
	}

	/* Style currently-active top menu item */
	ul.primary-menu li.current-menu-item > a::after {
	    background-color: #febe10;
	}

	/* Set background color of main navigation sub-menus */
	.primary-menu ul {
	    background: #006767 !important;
	}

	/* Set color of main navigation sub-menu background 'arrow' details */
	.primary-menu ul::after {
	    border-bottom-color: #006767 !important;
	}
	.primary-menu ul ul::after {
	    border-bottom-color: transparent !important;
	    border-left-color: #006767 !important;
	}

	/* Set link hover color and active menu item color for main navigation sub-menus */
	ul.primary-menu ul li a:hover::after, ul.primary-menu ul li.current-menu-item a::after {
	    content: "";
	    background-color: #fc3;
	    position: absolute;
	    left: 1em;
	    right: 1em;
	    bottom: -0.1em;
	    height: 4px;
	    transform: skew(-30deg);
	}

}
