/* Footer modifications to parent theme */

/*--- Default and small screens ---*/

/* Style footer */
footer#site-footer {
	/* Colors */
		color:#fff;
		background-color: #005239;
	/* Add Mason M graphic element */
	    background-image: url('../images/graphic-element-gm-803x580.png');
		background-size: 90rem;
		background-repeat: no-repeat;
		background-position: 0% 45%;
}

/* Remove flex display from footer div.section-inner and set max width */
footer#site-footer div.section-inner {
	display:block;
	max-width: 76em;
}

/* Hide parent theme footer elements */
	/* WordPress message*/
	footer#site-footer p.powered-by-wordpress {
	    display:none;
	}
	/* Back to top link*/
	footer#site-footer a.to-the-top {
	    display:none;
	}

/* Style footer links */
footer#site-footer a {
	color:white;
	text-decoration:none;
}

/* Style mason logo */
footer#site-footer p.footer-logo {
    padding-top: 15px;
    text-align:center;
}
footer#site-footer p.footer-logo img {
    max-width:150px;
    display:inline;
}

/* Style slogan/address/contact/copyright block */
.footer-social-slogan-contact-copyright {
	padding-top: 30px;
}
/* Style footer social menu */
#site-footer .footer-social {
	justify-content: center;
	margin-bottom: 0.25em;
}
#site-footer ul.social-icons {
	width: auto;
}
#site-footer .footer-social a {
	background-color: transparent !important;
	width: 3.5rem;
	height: 3.5rem;
}
#site-footer .footer-social svg{
	/*max-width: 55%;*/
	height:50px;
	width:50px;
}
/* style social footer links */
ul.footer-social li {
	margin-left: 1.75rem;
}
/* Style site slogan */
footer#site-footer .site-slogan {
    font-family:'Figtree', sans-serif;
    font-weight:700;
    letter-spacing: 0.025em;
    color: #ffc733;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 2;
}
/* text block */
footer#site-footer .footer-slogan-address-copyright-contact {
    font-weight: 600;
    font-size: 16px;
	text-align:center;
	line-height: 25px;
	margin-bottom:0;
	letter-spacing: normal;
}
/* Copyright*/
footer#site-footer .footer-copyright {
	font-size: 14px;
	font-weight:600;
	line-height: 21px
}

/* Style footer menu */
footer#site-footer ul#footer-menu {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0.5em;
	margin-bottom: 0;
	margin-left:0;
	border-top:1px solid white;
	padding-top: 1em;
	list-style-type:none;
	font-size: 16px;
	color:white;
}

footer#site-footer ul#footer-menu li {
	margin: 1em 0;
	border-right: 1px solid white;
	padding: 0 1.5em;
}

footer#site-footer ul#footer-menu li:last-of-type {
	border-right: none;
}

footer#site-footer ul#footer-menu a {
	color:white;
}


/*--- 700+ pixels ---*/
@media screen and (min-width: 700px) {

	/* ensure footer stays as block display, not flex as the parent theme directs */
	.footer-credits {
		display: block;
	}

}

/*--- 1000+ pixels ---*/
@media screen and (min-width: 1000px) {

	/* change footer to flex */
	.footer-credits {
		display: flex;
	}

	/* Style footer social menu */
	#site-footer .footer-social {
	    justify-content: flex-end;
	}

	footer#site-footer div.footer-credits {
	    width: 100%;
	    align-items: flex-start;
	    justify-content: space-between;
	}

	/* Style mason logo */
	footer#site-footer p.footer-logo img {
	    max-width: 9em;
	    margin-top: 0.9em;
	}

	/* Style slogan/address/contact/copyright block */
	footer#site-footer p.footer-slogan-address-copyright-contact {
	    text-align:right;
	}

}