/* Homepage widget styles */

/* Default and small screens */


/* Style widget area */
ul.sidebar-homepage {
	list-style-type:none;
	margin-left:0;
	padding:1em;
}

/* Style widget area items */
ul.sidebar-homepage li {
	margin-left:0;
}
