/* Main navigation bar modifications to parent theme */

/* 1,000+ pixels */


ul.primary-menu {
    font-size: 1.7rem;
}

ul.primary-menu .icon {
    color:white !important;
}

ul.primary-menu > li > a {
    font-size: 0.9em;
    color: white !important;
    font-weight: 700;
}

/* Style currently-active top menu item */
ul.primary-menu li.current-menu-item > a {
    text-decoration:none; /* Remove text decoration set by parent theme */
}

/* Style currently-active top menu item 'after' pseudoelement - used to indicate current page */
ul.primary-menu > li.current-menu-item > a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.1em;
    height: 4px;
    transform: skew(-30deg);
    /* Note: color is set in color scheme stylesheets */
}

/* Style ancestor items of currently-active menu item */
.primary-menu .current_page_ancestor {
    text-decoration: none;
}

div.header-inner {
    padding-top:0;
    align-items: flex-start;
}

/* Style main navigation menu wrapper */
div.header-navigation-wrapper {
    /*background-color: #00838f; - background color of main navigation bar - set in custom color schemes css files */
    position: absolute;
    right:0;
    z-index:1;
    padding-left:1.5em;
    align-items: flex-start;
    padding-right: 4em;
    padding-top:1em;
    padding-bottom:0.35em;
}

/* Use a pseudo element to create the main navigation menu skew detail */
div.header-navigation-wrapper:before {
    /*background-color:#00838f; - background color of main navigation bar - set in custom color schemes css files */
    content:'';
    width:3em;
    display:block;
    position:absolute;
    left:-1em;
    top:0;
    bottom:0;
    transform: skew(-30deg);
}

div.header-toggles {
    margin-left: 2rem !important;
}

button.desktop-search-toggle {
    align-items: flex-start !important;
    padding-left:1rem !important;
    padding-right:1rem !important;
    height: 3rem !important;
}

button.desktop-search-toggle svg.svg-icon {
    height:2rem;
}

button.search-toggle span {
    color:white !important;
}

button.desktop-search-toggle span.toggle-inner span.toggle-text {
    display:none;
}

.header-inner .toggle-wrapper::before {
    display:none;
}

ul.primary-menu ul li a:hover {
    /*background-color: #44c7cf; - link hover color for main navigation sub-menus - set in custom color schemes css files */
}

ul.primary-menu > li > a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.1em;
    height: 4px;
    transform: skew(-30deg);
    /*background-color: #febe10; - link hover underline color for top level of main navigation bar - set in custom color schemes css files */
}

.primary-menu ul::after {
    /*border-bottom-color: #22a5af !important; - color of main navigation first-level sub-menu background 'arrow' details - set in custom color schemes css files */
}

.primary-menu ul ul::after {
    /*
    border-bottom-color: transparent !important; - color of main navigation second-level sub-menu background 'arrow' details - set in custom color schemes css files 
    border-left-color: #22a5af !important; - color of main navigation second-level sub-menu background 'arrow' details - set in custom color schemes css files 
    */
}

.primary-menu ul {
    /*background: #22a5af !important; - background color of main navigation sub-menus - set in custom color schemes css files */
}
