/* General style modifications to parent theme */

/* 1,000+ pixels */


/* style custom header logo */
.header-logo {
	text-align:left;
}
.header-logo img {
	max-height: 12.75rem;
}

/* style site title */
div.site-name a {
	font-size:1.5em;
}