/* General style modifications to parent theme */

/* 700+ pixels */


/* Style website header area */
header#site-header {
	background-size: cover;
}

/* Style the toggle-inner container (contains the search and menu icons) */
.toggle-inner{
	top: 2rem;
}
/* Style entry header area */
header.entry-header {
	padding-bottom: 2rem !important;
}

/* Style entry title */
h1.entry-title, h2.entry-title {
	font-size:4.5rem;
}

/* Fix main content area font-size */
.entry-content {
	font-size:18px;
}

body.singular.page-template-template-full-width .entry-content > * {
	margin-left: unset;
}

body.singular.page-template-template-full-width .entry-content h1,
body.singular.page-template-template-full-width .entry-content h2,
body.singular.page-template-template-full-width .entry-content h3 {
	margin-left: 0;
}

body.singular.page-template-template-full-width .entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
  width: 100%;
}

/* On only singular pages using the full-width template, style entry-content div */
body.singular.page-template-template-full-width .entry-content {
	min-width: 27em;
}

/* Remove extra space above the first article on archive pages */
body:not(.singular) main > article:first-of-type {
    padding-top:0;
}

/* Remove extra margin above WP column blocks in the main content area */
#site-content article .entry-content .wp-block-columns {
	margin-top:0;
}

/* Blog page customizations */
/* Add bottom margin to articles */
body.blog article {
	margin-bottom:5em;
}
