/* General style modifications to parent theme */

/* Default and small screens */


/* Remove background color on the page body added by the Twentytwenty theme. */
body {
	background-color:transparent;
}

/* Modify default link colors */
a {
	color:#006633;
}

/* Modify links colors for mobile menu */
.modal-menu a {
	color:#006633;
}


/* Style buttons */
button, .button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, 
input[type="button"], input[type="reset"], input[type="submit"] {
	background-color:#006633;
}

/* Style website header area */
header#site-header {
	background-color:transparent; /* Remove background color on the site header added by the Twentytwenty theme. */
	min-height:14em;
}

/* Style header icons for small screens (search and menu) */
.header-inner .toggle {
	align-items: flex-start;
	padding: 2rem;
}

/* Style site title area */
.header-titles-wrapper .toggle-icon, .header-titles-wrapper .toggle-text {
	color:white !important;
}

/* Style site title area */
.header-titles {
	background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent background to help white text stand out more */
	box-shadow: 0px 10px 30px 30px rgba(0, 0, 0, 0.5); /* Add semi-transparent shadow to the bottom and right to fade out the semi-trnasparent background */
}

/* Style site name */
div.site-name {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	font-family: "Open Sans", Verdana, Geneva, sans-serif;
}

/* Style site name link */
div.site-name a {
	color: white;
	text-decoration: none;
}

/* Hide site description/tagline */
div.site-description {
	display:none;
}

/* Style main content area */
main#site-content {
	background-color: white;
}

/* Set font for main content area and sidebars */
article, .entry-content, .sidebar {
	font-family: "Open Sans", Verdana, Geneva, sans-serif !important;
}

/* Set font size for sidebars */
.sidebar {
	font-size:0.9em;
}

/* Remove padding before main page content */
.post-inner {
	padding-top:0;
}

/* Style entry header area */
header.entry-header {
	padding-top: 1rem !important;
	padding-bottom:1rem !important;
	margin-bottom: 2em;
}

/* Style entry title */
h1.entry-title {
	margin-top:0.25em;
	font-family: 'Roboto Slab', Palatino Linotype, Palatino, serif;
	letter-spacing: 0.025em;
}

/* Modify entry content size */
.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 100rem;
}

/* Basic widget styling */
li.widget {
	list-style-type: none;
}

/* Style widget item titles in content areas */
div.entry-content li.widget h3.widget-title {
    margin:0 1em 0.5em;
    text-align: center;
    letter-spacing: 0.025em;
    padding: 20px 0px;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
    color:#006633;
}

/* Homepage customizations */
/* Hide page title for home page */
body.home header.entry-header {
	display:none;
}
