/* General style modifications to parent theme */

/* 700+ pixels */


/* Style website header area */
header#site-header {
	background-size: cover;
}

/* Style the toggle-inner container (contains the search and menu icons) */
.toggle-inner{
	top: 2rem;
}
/* Style entry header area */
header.entry-header {
	padding-bottom:4rem !important;
	background-color:#eff0e7 !important;
}

/* Style entry title */
h1.entry-title {
	font-size:4.5rem;
	color: #42413f;
}

/* Style entry title for pages only */
article.page h1.entry-title {
	text-align:left;
}

/* Fix main content area font-size */
.entry-content {
	font-size:18px;
}
