/* General style modifications to parent theme */

/* 1,000+ pixels */


/* Style site header */
header#site-header {
	overflow-x: hidden; /* Because the navigation menu wrapper div skews to the right, it may make the page appear a bit too wide and allow for horizontal scrolling. To avoid this, we will clip any extra content appearing outside the site header div area. */
}

/* Add semi-transparent background gradient to the site header by using a pseudo-element */
header#site-header:before {
	background:linear-gradient(145deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 30%, rgba(0,0,0,0));
	z-index:-1;
}

/* Fix header icons for larger screens */
.header-inner .toggle {
	align-items: center;
	padding: 0 2rem;
}

/* Style site title area */
.header-titles-wrapper {
    padding: 1em 1em 0;
}

.header-titles {
	align-items: flex-end !important; /* Ensure that the logo and text sit at about the same baseline */
    margin-left:0;
    background-color: transparent; /* Turn-off semi-transparent background from default stylesheet */
	box-shadow: none; /* Turn-off semi-transparent shadow  from default stylesheet */
}

/* Style site name */
div.site-name {
	margin-bottom:5px;
}

/* Style site name link */
div.site-name a {
	font-size:1.1em;
}
