/* sidebar styling */

/* 800+ pixels */


/* Hide the sidebar on the narrow (default) template */
body.singular .gmuj-sidebar {
	display:none;
}

/* On only singular pages using the full-width template, Style sidebar wrapper, which contains two elements: the actual sidebar div, and the original regular content div */
body.singular.page-template-template-full-width .gmuj-sidebar-wrapper {
	display:flex;
}

/* On only singular pages using the full-width template, style sidebar div */
body.singular.page-template-template-full-width .gmuj-sidebar {
	display: block;
	max-width:20em;
}

/* On only singular pages using the full-width template, style entry content area */
body.singular.page-template-template-full-width .entry-content {
	flex-grow: 1;
}

/* Sidebar navigation menus */

/* Sidebar headings (both in widget and in post meta) */
.gmuj-sidebar .widget h3, .gmuj-sidebar .gmuj-sidebar-post-meta h3 {
	margin:1px 2em 1px 0;
}

/* Sidebar ULs */
.gmuj-sidebar ul {
	margin:1px 2em 1px 0;
}
.gmuj-sidebar ul ul {
	margin-right:0;
}
.gmuj-sidebar ul ul ul {
	margin-right:0;
}

/* extra visual element on navigation menu top links when active */
.gmuj-sidebar .widget_nav_menu ul.menu > li.current_page_item:first-child > a::after {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 0;
	content: '';
	border: 3px solid #006940;
	background-color: #006940;
	transform: rotate(45deg) translate(0, -50%);
	padding: 3px;
}