/* CSS file to implement custom slideshow */

/* 700+ pixels */


.gmuj-slide-title {
	margin-top: 4em;
}

.gmuj-slide-nav {
	top :40%;
}

.gmuj-slide-body {
	padding: 1em 1em 0;
	font-size: 1.8rem;
}

.gmuj-slide .gmuj-slide-cta {
	margin-left: 3em;
}