/* CSS file to implement custom slideshow */

/* 1,000+ pixels */


.gmuj-slide {
	background-size: cover;
}

.gmuj-slide-nav {
	top :87.5%;
	max-width: 1000px;
	left: 50%;
	transform: translate(-50%, 0);
}
