/* CSS file to implement custom slideshow */

/* 1,000+ pixels */


#gmuj-slideshow-wrapper {
	z-index: 0;
}

.gmuj-slide {
	background-size: cover !important;
}

.gmuj-slide-nav {
	top :87.5%;
	max-width: 1000px;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0.5;
}

.gmuj-slideshow:hover .gmuj-slide-nav {
	opacity: 0.75;
}
