/* University links bar */

/* 1,000+ pixels */

div#university-links-bar {
    display:flex;
    padding: 1em 0 0 0;
}

div#university-links-bar ul#university-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    margin:0;
    padding: 0 0 1em 0;
}

div#university-links-bar ul#university-links li {
    margin:0;
    margin-bottom:0.5em;
}

div#university-links-bar ul#university-links li a {
    margin:0 0.5em;
    display:block;
    padding: 0 .5em;
    font-size:0.6em;
    font-weight: 600;
    color: #5c5b58;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
}

div#university-links-bar ul#university-links li a {
    position: relative;
}

div#university-links-bar ul#university-links li a:hover {
    color:#005239;
}
