/* University breadcrumbs bar */

/* 400+ pixels */

#university-breadcrumbs-bar {
    display: none;
}

#university-breadcrumbs-bar div.right-side {
    margin-top: 0;
    border-top: none;
    padding-top: 0;    
}
