/* University links bar */

/* 1,000+ pixels */

div#university-links-bar {
    display:block;
    padding:0.25em 0;
    background-color: #ffc733;
}

div#university-links-bar ul#university-links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    margin:0;
}

div#university-links-bar ul#university-links li {
    margin:0;
}

div#university-links-bar ul#university-links li a {
    margin:0 0.5em;
    font-family: "Open Sans", Verdana, Geneva, sans-serif;
    display:block;
    padding: 0.35em 1em;
    font-size:0.725em;
    font-weight: bold;
    color: #5c5b58;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: normal;
}

div#university-links-bar ul#university-links li a {
    position: relative;
}

div#university-links-bar ul#university-links li a:hover {
    color:#005239;
}

div#university-links-bar ul#university-links li a:hover::after {
    content: "";
    background-color: #005239;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.1em;
    height: 4px;
    transform: skew(-30deg);
}