/* University breadcrumbs bar */

/* 1,000+ pixels */

div.top-header ul li {
    padding-left:1em;
}

div.top-header {
    padding:0 0.5em;
}

div.top-header .links li {
    display: inline-block;
}

div.top-header .links a {
    display: block;
    line-height: 50px;
}

div.top-header div.left-side ul#university-breadcrumbs.links li {
    padding-left: 1em;
    padding-right: 1em;
}

div.top-header div.left-side ul#university-breadcrumbs.links li#university {
    padding-left:0.5em;
}

div.top-header div.left-side ul#university-breadcrumbs.links li#unit,
div.top-header div.left-side ul#university-breadcrumbs.links li#department {
    background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg);
}
div.top-header div.left-side ul#university-breadcrumbs.links li#unit a,
div.top-header div.left-side ul#university-breadcrumbs.links li#department a {
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
}
