/* University breadcrumbs bar */

/* Default and small screens */

#university-breadcrumbs-bar {
    color: #005239;
    padding:0.25em 0.5em;
    font-size:0.9em;
    display: none;
}

#university-breadcrumbs-bar a {
    text-decoration: none;
}

#university-breadcrumbs-bar ul {
    margin-bottom: 0;
    margin-left:0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

#university-breadcrumbs-bar ul li {
    margin-top:0;
    margin-left:0;
}

#university-breadcrumbs-bar ul#university-breadcrumbs a {
    color:#005239;
}

#university-breadcrumbs-bar ul#university-breadcrumbs a:hover {
    text-decoration:underline;
}


/* now that we have the new header logo, hide the university text link */
#university-breadcrumbs-bar #university {
    display:none;
}

#university-breadcrumbs-bar #unit span.fa {
    margin-right:0.5em;
}

#university-breadcrumbs-bar .divider {
    margin-left:0.5em;
    margin-right:0.5em;
}
