/* University breadcrumbs bar */

/* Default and small screens */

#university-breadcrumbs-bar {
    background: #006633;
    color: #fff;
    padding:0.25em 0.5em;
    font-size:0.9em;
}

#university-breadcrumbs-bar a {
    text-decoration: none;
}

#university-breadcrumbs-bar ul {
    margin-bottom: 0;
    margin-left:0;
    list-style-type: none;
}

#university-breadcrumbs-bar ul li {
    margin-top:0;
    margin-left:0;
}

#university-breadcrumbs-bar ul#university-breadcrumbs a {
    color:#CCEBDE;
}

#university-breadcrumbs-bar ul#university-breadcrumbs a:hover {
    color:white;
}

#university-breadcrumbs-bar ul#prominent-links {
    display: flex;
    justify-content: space-between;
}

#university-breadcrumbs-bar ul#prominent-links li {
    text-align: center;
}

#university-breadcrumbs-bar ul#prominent-links a {
    color:white;
}

#university-breadcrumbs-bar ul#prominent-links a:hover {
    color:#ffcc33;   
}

#university-breadcrumbs-bar div.right-side {
    margin-top: 0.5em;
    border-top: 1px solid #CCEBDE;
    padding-top: 0.25em;    
}
