/* Widget area styles */

/* 1,000+ pixels */


/* Style banner widget area */
ul#sidebar-homepage-banner, ul#sidebar-internal-page-banner {
    position: unset; /* unset the relative position set in the default stylesheet */
}

/* search form - standard WordPress search widget in homepage widget area */
ul.sidebar-homepage li.widget_search form.search-form, ul.sidebar-internal-page li.widget_search form.search-form {
	justify-content: center;
}

/* search form title */
ul.sidebar-homepage li.widget_search form.search-form label, ul.sidebar-internal-page li.widget_search form.search-form label {
	width:50%;
}
