/*
Theme Name: Mason Twenty Twenty Theme
Theme URI: https://github.com/jmacario-gmu/gmuj-wordpress-theme-mason-twentytwenty-child
Author: Jan Macario
Author URI: https://github.com/jmacario-gmu
Description: A custom Mason-styled WordPress child theme based on the official WordPress Twentytwenty theme.
Version: 1.1.3
Requires at least: 4.7
Tested up to: 5.6
Requires PHP: 7.0
Template: twentytwenty
*/

/* Import CSS files */

/* FontAwesome (This is currently only used for the university-breadcrumb-bar icons.) */
	@import 'css/fontawesome-all.min.css';

/* General style modifications to parent theme */
	@import 'css/parent-theme-modifications.css';

/* University links bar */
	@import 'css/university-links-bar.css';

/* University breadcrumbs bar */
	@import 'css/university-breadcrumbs-bar.css';

/* Main navigation bar modifications to parent theme */
	@import 'css/main-navigation-bar.css';

/* Widget areas */
	@import 'css/widget-areas.css';

/* Footer modifications to parent theme */
	@import 'css/footer.css';

/* Collapse-O-Matic styles */
	@import 'css/collapse-o-matic.css';

/* Breadcrumbs styles */
	@import 'css/breadcrumbs.css';

/* Sidebar styles */
	@import 'css/sidebar.css';

/* Custom post type: person styles */
	@import 'css/people.css';

/* GMUJ Slider styles */ 
	@import 'css/slideshow.css';

/* RSS Blocks */
	@import 'css/block-rss.css';

/* The Events Calendar styles */
	@import 'css/events-calendar.css';
