/*
Theme Name: Mason Twenty Twenty Theme
Author: Jan Macario
Template: twentytwenty
Version: 0.1.0
*/

/* Import CSS files */

/* FontAwesome (This is currently only used for the university-breadcrumb-bar icons.) */
	@import 'css/fontawesome-all.min.css';

/* General style modifications to parent theme */
	@import 'css/parent-theme-modifications.css';

/* University links bar */
	@import 'css/university-links-bar.css';

/* University breadcrumbs bar */
	@import 'css/university-breadcrumbs-bar.css';

/* Main navigation bar modifications to parent theme */
	@import 'css/main-navigation-bar.css';

/* Widget areas */
	@import 'css/widget-areas.css';

/* Footer modifications to parent theme */
	@import 'css/footer.css';

/* Collapse-O-Matic styles */
	@import 'css/collapse-o-matic.css';

/* Breadcrumbs styles */
	@import 'css/breadcrumbs.css';

/* Sidebar styles */
	@import 'css/sidebar.css';
